<!-- about -->
<!--service-->
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h2 class="ser-title">Amenities</h2>
                <hr class="botm-line">
                <p>We offer private/semi-private rooms. They each include phone, cable tv, wi-fi, intercom call lights, room temperature control, private restroom with a shower and nightstands with locks to keep your belongings safe.</p>
                <p>We have a fine dining area as well as a private dining area available for family and friends to gather for special occasions.  Activities are offered throughout the day as well.</p>

            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-stethoscope"></i>
                    </div>
                    <div class="icon-info">
                        <h4>24 Hour Nursing Staff</h4>
                        <p>Our professional staff is always available and ready to assist you.  We have RN's, LPN's, CENA's, and a physician always on site.</p>
                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-ambulance"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Services</h4>
                        <p>We have physical, occupational and speech therapy. These services will get you on the fast track to recovery.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-heartbeat"></i>
                    </div>
                    <div class="icon-info">
                        <h4>On Site Sevices</h4>
                        <p>We offer lab,x-ray,bladder scan, podiaty, audiology, dental, hearing, transportation to and from doctor appoitments as well as a beauty/barber shop and religious services.</p>


                    </div>
                </div>
                <div class="service-info">
                    <div class="icon">
                        <i class="fa fa-medkit"></i>
                    </div>
                    <div class="icon-info">
                        <h4>Premium Healthcare</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ service-->













