<!--doctor team-->
<section id="doctor-team" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Meet Our Team!</h2>
                <hr class="botm-line">
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail">
                    <img src="https://www.fillmurray.com/140/200" alt="" class="team-img">
                    <div class="caption">
                        <h3>Michelle Terry</h3>
                        <h4>Administrator</h4>
                        <dl class="list-inline">
                            <dt><a href="tel:734-561-7001"><i class="fa fa-phone"></i></a></dt>
                            <dd>(734)561-7001</dd>
                            <dt><a href="mailto:MTerry@aeriushealth.com"><i class="fa fa-envelope"></i></a></dt>
                            <dd>MTerry@aeriushealth.com</dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail">
                    <img src="https://www.fillmurray.com/g/140/200" alt="..." class="team-img">
                    <div class="caption">
                        <h3>Dawn Peshinski</h3>
                        <p>Director of Nursing</p>
                        <dl class="list-inline">
                            <dt><a href="tel:734-561-7002"><i class="fa fa-phone"></i></a></dt>
                            <dd>(734)561-7002</dd>
                            <dt><a href="mailto:DPeshinski@aeriushealth.com"><i class="fa fa-envelope"></i></a></dt>
                            <dd>DPeshinski@aeriushealth.com</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail">
                    <img src="https://www.stevensegallery.com/g/140/200" alt="..." class="team-img">
                    <div class="caption">
                        <h3>Cyndi Craft</h3>
                        <p>Admission Director</p>
                        <dl class="list-inline">
                            <dt><a href="tel:734-561-7003"><i class="fa fa-phone"></i></a></dt>
                            <dd>(734)561-7003</dd>
                            <dt><a href="mailto:CCraft@aeriushealth.com"><i class="fa fa-envelope"></i></a></dt>
                            <dd>CCraft@aeriushealth.com</dd>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="thumbnail">
                    <img src="https://www.fillmurray.com/g/140/200" alt="..." class="team-img">
                    <div class="caption">
                        <h3>Kim Bitner</h3>
                        <p>Therapy Manager</p>
                        <dl class="list-inline">
                            <dt><a href="tel:734-561-7008"><i class="fa fa-phone"></i></a></dt>
                            <dd>(734)561-7008</dd>
                            <dt><a href="mailto:KBitner@aeriushealth.com"><i class="fa fa-envelope"></i></a></dt>
                            <dd>KBitner@aeriushealth.com</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="https://www.fillmurray.com/300/200" alt="..." class="team-img">
                <div class="caption">
                    <h3>Dan Taylor</h3>
                    <p>Unit Manager East 1</p>
                    <dl class="list-inline">
                        <dt><a href="tel:734-561-7024"><i class="fa fa-phone"></i></a></dt>
                        <dd>(734)561-7024</dd>
                        <dt><a href="mailto:KBitner@aeriushealth.com"><i class="fa fa-envelope"></i></a></dt>
                        <dd>KBitner@aeriushealth.com</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="https://www.placecage.com/140/200" alt="..." class="team-img">
                <div class="caption">
                    <h3>Teri Romero</h3>
                    <p>Unit Manager 2</p>
                    <dl class="list-inline">
                        <dt><a href="tel:734-561-7025"><i class="fa fa-phone"></i></a></dt>
                        <dd>(734)561-7025</dd>
                        <dt><a href="mailto:TRomero@aeriushealth.com"><i class="fa fa-envelope"></i></a></dt>
                        <dd>TRomero@aeriushealth.com</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="https://www.fillmurray.com/g/140/200" alt="..." class="team-img">
                <div class="caption">
                    <h3>Tammy Patton</h3>
                    <p>Social Services</p>
                    <dl class="list-inline">
                        <dt><a href="tel:734-561-7026"><i class="fa fa-phone"></i></a></dt>
                        <dd>(734)561-7026</dd>
                        <dt><a href="mailto:Tpatton@aeriushealth.com"><i class="fa fa-envelope"></i></a></dt>
                        <dd>TPatton@aeriushealth.com</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
            <div class="thumbnail">
                <img src="https://www.fillmurray.com/g/140/200" alt="..." class="team-img">
                <div class="caption">
                    <h3>Monic Hindley</h3>
                    <p>Activities Director</p>
                    <dl class="list-inline">
                        <dt><a href="tel:734-561-7029"><i class="fa fa-phone"></i></a></dt>
                        <dd>(734)561-7029</dd>
                        <dt><a href="mailto:MHindley@aeriushealth.com"><i class="fa fa-envelope"></i></a></dt>
                        <dd>MHindley@aeriushealth.com</dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>
</section>
<!--/ doctor team-->

