<section id="cta-2" class="section-padding">
    <div class="container">
        <div class=" row">
            <div class="col-md-2"></div>
            <div class="text-right-md col-md-4 col-sm-4">
                <h2 class="section-title white lg-line">« A few words<br> about us »</h2>
            </div>
            <div class="col-md-4 col-sm-5">
                <a href="#">
                    <i class="fa fa-quote-left fa-2x" aria-hidden="true"></i>
                </a>
                We Understand there is no place like home. That is why we offer a comfortable environment and wonderful caring staff who will make you feel right at home
                <a href="#">
                    <i class="fa fa-quote-right fa-2x" aria-hidden="true"></i>
                </a>
                <p class="text-right text-primary"><i>— Dr. Nasir</i></p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>