
<!--about-->
<section id="" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="section-title">
                    <h2 class="welcome">Welcome</h2>
                    <h3>Our Priority is You!</h3>
                    <hr class="botm-line">
                    <p class="sec-para">The team at Aerius Health Center would love to welcome you to our facility.  Our staff makes you our top priority!</p>
                    <p>The goal is to provide you with the best possible care and have you ready to return to the life you had before we had the pleasure of meeting you.  Our Licensed specialty trained team are always here to provide you with all your needs.</p>
                    <a href="" style="color: #0cb8b6; padding-top:10px;">Know more..</a>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div style="visibility: visible;" class="col-sm-9 more-features-box">
                    <div class="more-features-box-text">
                        <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                        <div class="more-features-box-text-description">
                            <h3>We Care</h3>
                            <p>All our staff are licensed professionals with a common goal, we want to see you go home ready to live life to it's fullest.  Your independence is very important to us and we will strive to reach that goal with you.</p>
                        </div>
                    </div>
                    <div class="more-features-box-text">
                        <div class="more-features-box-text-icon"> <i class="fa fa-angle-right" aria-hidden="true"></i> </div>
                        <div class="more-features-box-text-description">
                            <h3>Going home</h3>
                            <p>Our goal is to assist you in a successful recovery.  We strive to prepare you to return to your home and your normal daily activities without complications.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ about-->
<app-category1></app-category1>
<app-testimonials></app-testimonials>