<!--banner-->
<section id="banner" class="banner">
    <div class="bg-color">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="col-md-12">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"><img src="" class="img-responsive" style="width: 140px; margin-top: -16px;"></a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="myNavbar">
                        <ul class="nav navbar-nav">
                            <li class="active"><a routerLink="/home">Home</a></li>
                            <li class=""><a routerLink="/about">About</a></li>
                            <li class=""><a routerLink= "/staff">Staff</a></li>
                            <li class=""><a routerLink="/contact">Tours</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="banner-info">
                    <div class="banner-logo text-center">
                        <svg height="130" width="500">
                            <defs>
                                <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                                    <stop offset="0%" style="stop-color:rgb(26,184,163);stop-opacity:1" />
                                    <stop offset="100%" style="stop-color:rgb(67,89,175);stop-opacity:1" />
                                </linearGradient>
                            </defs>
                            <ellipse cx="100" cy="70" rx="85" ry="55" fill="url(#grad1)"  />
                            <text fill="#ffffff" font-size="42" font-family="Candal" x="33" y="86">Aerius</text>
                            Sorry, your browser does not support inline SVG.
                        </svg>
                    </div>
                    <div class="banner-text text-center">
                        <h1 class="white">Health Center</h1>
                        <p>Your home away from home. Aerius offerss Skilled Nursing with a 24 hour staff!<br>So what are you waiting for?  Go ahead and book a tour today!</p>
                        <a routerLink="/contact" class="btn btn-appoint">Schedule a Tour</a>
                    </div>
                    <div class="overlay-detail text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!--/ banner-->