<section id="" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="section-title">
                    <h2 class="welcome">About Us</h2>
                    <h3>We truly care!</h3>
                    <hr class="botm-line">
                    <p class="sec-para"></p>
                    <p></p>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <div style="visibility: visible;" class="col-sm-9 more-features-box">
                    <div class="more-features-box-text">

                        <div class="more-features-box-text-description">
                            <h3>We Care</h3>
                            <p>All our staff are licensed professionals with a common goal, we want to see you go home ready to live life to it's fullest.  Your independence is very important to us and we will strive to reach that goal with you.</p>
                        </div>
                    </div>
                    <div class="more-features-box-text">


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-services></app-services>
