<!--footer-->
<footer id="footer">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h3 class="white">Contact Info</h3>
                        <hr class="botm-line">
                        <div class="icons">

                            <p><a href="https://www.google.com/maps/place/Aerius+Health+Center/@42.1569608,-83.1905055,15z/data=!4m5!3m4!1s0x0:0x2cfa92a12d1a4d88!8m2!3d42.1569608!4d-83.1905055"><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>13840 King Road<br> Riverview, MI 48193</a></p>
                            <p class="spaces"></p>
                            <p><a href="mailto:MTerry@aeriushealth.com"><i class="fa fa-envelope fa-2x"></i> MTerry@aeriushealth.com</a></p>
                            <p class="spaces"></p>
                            <p><a href="tel:734-561-7000"><i class="fa fa-phone fa-fw pull-left fa-2x"></i>(734) 561-7000</a></p>
                            <p class="spaces"></p>
                            <p><a href="https://www.facebook.com/pages/Aerius-Health-Center/505238989874235"><i class="fa fa-facebook fa-fw pull-left fa-2x"></i>facebook.com/AeriusHealthCenter</a></p>




                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">Quick Links</h4>
                    </div>
                    <div class="info-sec">
                        <ul class="quick-info">
                            <li><a routerLink="/home"><i class="fa fa-circle"></i>Home</a></li>
                            <li><a routerLink="/about"><i class="fa fa-circle"></i>About</a></li>
                            <li><a routerLink="/contact"><i class="fa fa-circle"></i>Appointment</a></li>
                            <li><a routerLink="/apply"><i class="fa fa-circle"></i>Apply</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">Drop us a line</h4>
                    </div>
                    <div class="info-sec">

                        <div class="contact-info">
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-group">
                                    <textarea class="form-control br-radius-zero" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>
                                <div class="form-action">
                                    <button type="submit" class="btn btn-form">Send</button>
                                </div>
                            </form><br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-line">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    © Copyright AeriusHealthCenter. All Rights Reserved
                </div>
                <div class="col-md-12 text-center">
                    Created by: Jeanell Williams
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer-->