<!--testimonial-->
<section id="testimonial" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="ser-title">Testimonials</h2>
                <hr class="botm-line">
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="testi-details">
                    <!-- Paragraph -->
                    <p>Very pleased! The best possible care and service. Cyndi from admission made a smooth admission process. Very thankful for this new beautiful facility with the best staff!</p>
                </div>
                <div class="testi-info">
                    <!-- User Image -->
                    <a href="#testimonial"><i class="fa fa-user fa-2x" style="position: relative; left: 15px; top: 12px;"></i></a>
                    <!-- User Name -->
                    <h3>Della<span>Dixon</span></h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="testi-details">
                    <!-- Paragraph -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="testi-info">
                    <!-- User Image -->
                    <a href="#testimonial"><i class="fa fa-user fa-2x" style="position: relative; left: 15px; top: 12px;"></i></a>
                    <!-- User Name -->
                    <h3>Alex<span>Texas</span></h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="testi-details">
                    <!-- Paragraph -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="testi-info">
                    <!-- User Image -->
                    <a href="#testimonial"><i class="fa fa-user fa-2x" style="position: relative; left: 15px; top: 12px;"></i></a>
                    <!-- User Name -->
                    <h3>Alex<span>Texas</span></h3>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ testimonial-->